/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .avatar img {
    width: 100%;
    height: auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-form label {
    text-align: left;
    font-size: 14px;
    color: #555;
  }
  
  .login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .login-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #218838;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.extra-options {
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}



.extra-options a {
    color: black;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 100px;
}

.cancel-button:hover {
  background-color: #c82333;
}
